<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
        <title>Add new blog Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" class="form-label">Cover Image</label>
                <input type="file" class="form-control" id="coverImage" aria-describedby="coverImage" name="coverImage">
              </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
            </div>
            <div class="mb-3">
                <label for="body">Body</label>
                <textarea class="form-control" placeholder="Add your blog here" id="body" name="body"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>